.container{
    width: 100%;
}

.booksListsContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;

}

.bookListContainer{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    align-content: flex-start;
}